/*
*Make the whole content in the site to be full width
 */
html,
body {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  html,
  body {
    width: 100%;
  }
}
body {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}
@media screen and (min-width: 600px) {
  img.brand {
    width: 75px;
    height: auto;
    transition: 0.3s;
  }
}
@media screen and (max-width: 319px) {
  img.brand {
    width: 40px;
    height: auto;
    transition: 0.3s;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  img.brand {
    width: 50px;
    height: auto;
    transition: 0.3s;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  img.brand {
    width: 65px;
    height: auto;
    transition: 0.3s;
  }
}
hr {
  max-width: 50px;
  border: 2px solid #F05F40;
}
hr.light {
  border-color: #fff;
}
hr.wider {
  max-width: 100px;
  border-color: #fff;
}
a {
  color: #F05F40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.text-primary {
  color: #F05F40;
}
.text-white {
  color: #fff;
}
.text-dark {
  color: #222;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}
h2 {
  font-size: 25px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
li,
span {
  font-size: 14px;
}
span.glyphicon {
  padding-right: 2px;
}
/*NAVBAR*/
.navbar-default {
  border-color: transparent;
  background-color: transparent;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  height: 200px;
}
.navbar-default .navbar-header .navbar-brand {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-weight: 400;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fff;
}
.navbar-default .nav.navbar-right {
  padding-right: 50px;
}
.navbar-default .nav.navbar-left > li > a {
  font-size: 16px;
}
.navbar-default .nav.navbar-right > li > a {
  font-size: 16px;
  color: #F05F40;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 400;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fff;
  background-color: transparent;
}
/*Navbar white*/
.navbar-default.navbar-white {
  background-color: transparent;
  height: 130px;
}
.navbar-default.navbar-white .navbar-header .navbar-brand {
  font-size: 14px;
  color: #F05F40;
}
.navbar-default.navbar-white .navbar-header .navbar-brand:hover,
.navbar-default.navbar-white .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default.navbar-white .nav > li > a,
.navbar-default.navbar-white .nav > li > a:focus {
  color: #222;
  background-color: transparent;
}
.navbar-default.navbar-white .nav > li > a:hover,
.navbar-default.navbar-white .nav > li > a:focus:hover {
  color: #F05F40;
  background-color: transparent;
}
.navbar-default .nav.navbar-right > li > a:hover,
.navbar-default .nav.navbar-right > li > a:focus,
.navbar-default.affix-top .navbar-nav .navbar-right a:hover,
.navbar-default.affix-top .navbar-nav .navbar-right a:focus {
  color: #222;
}
/*Navbar affix (when scrolled down)*/
.navbar-default.affix {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #f5f5f5;
  height: 80px;
}
.navbar-default.affix .navbar-header .navbar-brand {
  font-size: 14px;
  color: #F05F40;
}
.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default.affix .navbar-header .navbar-toggle .icon-bar {
  background-color: gray;
}
.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: #222;
  background-color: transparent;
  padding-right: 10px;
}
.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  color: #F05F40;
  background-color: transparent;
}
.navbar-default .nav > li.active > a,
.navbar-default.affix .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  background-color: transparent;
  color: #F05F40;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .container-fluid > .navbar-collapse {
    background: #6F6767 ;
  }
}
.container-fluid > .navbar-collapse ul,
.container-fluid > .navbar-collapse li {
  text-align: right;
}
.container-fluid > .navbar-collapse .nav.navbar-right {
  padding-right: 0px;
}
/**
*Styling for the header section
*/
#home-page header {
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;
  min-height: 450px;
  background: url("../img/global-map.png") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media screen and (max-width: 479px) {
  #home-page header {
    min-height: 600px;
    padding-top: 75px;
  }
}
#home-page header .item {
  background-color: rgba(255, 255, 255, 0.84);
}
#home-page header .item.item-1 hr {
  margin-bottom: 25px;
  margin-top: 25px;
}
#home-page header .item.item-1 .header-text {
  z-index: 10;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  text-shadow: none;
}
#home-page header .item.item-1 .header-text h1,
#home-page header .item.item-1 .header-text h4 {
  color: #F05F40;
}
#home-page header .item.item-1 .header-text p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  color: #222;
}
@media screen and (max-width: 319px) {
  #home-page header .item.item-1 .header-text {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #home-page header .item.item-1 .header-text p {
    width: 80%;
  }
  #home-page header .item.item-1 .header-text h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  #home-page header .item.item-1 .header-text p {
    width: 75%;
  }
  #home-page header .item.item-1 .header-text h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
  }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  #home-page header .item.item-1 .header-text p {
    width: 75%;
  }
  #home-page header .item.item-1 .header-text h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  #home-page header .item.item-1 .header-text p {
    width: 70%;
  }
  #home-page header .item.item-1 .header-text h1 {
    font-size: 34px;
  }
}
@media screen and (min-width: 980px) {
  #home-page header .item.item-1 .header-text {
    top: 40%;
  }
}
.service-box .fa {
  font-size: 4em;
}
@media screen and (max-width: 479px) {
  .service-box .fa {
    font-size: 3em;
  }
  .service-box h3 {
    font-size: 20px;
  }
  .service-box p {
    font-size: 15px;
  }
}
.service-box .material-icons {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: white;
}
.service-box .material-icons.fa {
  font-size: 4em;
}
.service-box .glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 "Glyphicons Halflings";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.service-box .glyphicon.fa {
  font-size: 4em;
}
@media screen and (max-width: 479px) {
  .service-box .material-icons.fa,
  .service-box .glyphicon.fa {
    font-size: 3em;
  }
}
@media screen and (max-width: 799px) {
  #grow-business {
    /* smartphones, Android phones, landscape iPhone */
  }
  #grow-business i {
    font-size: 4em;
    text-align: left;
    color: black;
  }
  #grow-business h3 {
    font-size: 26px;
  }
  #grow-business p {
    margin-left: 0;
    font-size: 24px;
    display: inline-block;
    top: 50%;
    transform: translateY(-80%);
  }
  #grow-business ul {
    margin-left: 30px;
    display: inline-block;
    color: white;
  }
  #grow-business ul li {
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  #grow-business i {
    font-size: 6em;
    color: black;
  }
  #grow-business h3 {
    display: inline-block;
    font-size: 28px;
    top: 50%;
    margin-left: 15px;
    font-weight: bold;
    transform: translateY(-25%);
    color: black;
  }
  #grow-business p {
    text-align: left;
    margin-left: 83px;
    font-size: 28px;
    display: inline-block;
    top: 50%;
    transform: translateY(-80%);
  }
  #grow-business ul {
    display: inline-block;
    color: white;
    margin-left: 60px;
    font-style: italic;
  }
  #grow-business ul li {
    font-size: 22px;
  }
}
section#about,
section#contact {
  padding: 15px 10%;
}
@media screen and (min-width: 768px) {
  section#about,
  section#contact {
    padding: 25px 15px;
    min-height: 350px;
    vertical-align: middle;
  }
}
/*About*/
section#about {
  color: white;
  min-height: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
}
section#about #about-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
section#about ul li {
  font-size: 16px;
}
section#about ul span {
  font-weight: bold;
}
#sign-up-button {
  position: fixed;
  z-index: 1;
  left: 45%;
  bottom: 0;
  width: 10%;
  opacity: 0.9;
}
#sign-up-button a {
  background: #9e9e9e;
  color: white;
  border: 1px solid #9e9e9e;
  font-size: 16px;
}
#sign-up-button a:hover {
  background: #9e9e9e;
  color: white;
  font-size: 18px;
}
@media screen and (max-width: 319px) {
  #sign-up-button {
    left: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #sign-up-button {
    left: 35%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  #sign-up-button {
    left: 45%;
  }
}
.btn-default,
.btn-primary {
  background: #F05F40;
  color: #fff;
  border: 1px solid #F05F40;
}
.btn-default:hover,
.btn-primary:hover {
  background: #F05F40;
  color: #fff;
}
.btn-default:active,
.btn-primary:active {
  background: #f7f7f7;
  color: #F05F40;
  border: 1px solid #f7f7f7;
}
.btn-light {
  border: 1px solid #F05F40;
  background-color: #f7f7f7;
}
.btn-light:hover {
  border: 1px solid #F05F40;
  background-color: #f7f7f7;
}
.bg-partners {
  background-color: #F05F40;
  padding: 10px 0;
}
.bg-dark {
  color: #fff;
  background-color: #222;
}
.bg-primary {
  background-color: #F05F40;
  color: #fff;
}
.bg-light {
  background-color: #f7f7f7;
}
.bg-white {
  background-color: #fff;
  color: #222;
}
.bg-darkGrey {
  background-color: #9e9e9e;
}
.btn-block {
  width: 150px;
  margin-top: 0;
}
.clear-both {
  clear: both;
}
@media screen and (max-width: 767px) {
  #the-platform .two-column .content-area {
    color: #fff;
    background: rgba(0, 0, 0, 0.6) url("../img/mock-new.png") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  #benefits-features .two-column .content-area {
    color: #fff;
    background: rgba(0, 0, 0, 0.6) url("../img/case_study_111.jpg") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  #clientele .two-column .content-area {
    color: #fff;
    background: rgba(0, 0, 0, 0.6) url("../img/meeting--people.png") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
#support-simplicity .two-column .content-area {
  color: #fff;
}
@media screen and (max-width: 767px) {
  #support-simplicity .two-column .content-area {
    background: rgba(0, 0, 0, 0.6) url("../img/interaction.jpg") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
section#foundation a.btn {
  color: #222;
}
section#foundation .content-area {
  color: #fff;
}
@media screen and (max-width: 767px) {
  section#foundation .content-area {
    background: rgba(0, 0, 0, 0.6) url("../img/iFoundation.png") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
.two-column {
  width: 100%;
  margin: auto;
}
.two-column .left {
  float: left;
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .two-column .left {
    width: 50%;
    height: 400px;
    margin: 0;
  }
}
.two-column .right {
  float: left;
  height: 300px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .two-column .right {
    width: 50%;
    height: 400px;
    margin: 0;
  }
}
.two-column .content-area {
  display: inline-block;
  vertical-align: top;
}
.two-column .content-area .content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.two-column .content-area .content h2 {
  margin: 0;
  padding: 0;
  position: relative;
}
@media screen and (max-width: 576px) {
  .two-column .content-area {
    height: 350px;
  }
}
@media screen and (max-width: 767px) {
  .two-column .content-area hr {
    border: 2px solid #F05F40;
  }
}
@media screen and (min-width: 768px) {
  .two-column .content-area {
    width: 50%;
    padding: 25px 15px;
  }
}
@media screen and (min-width: 768px) {
  .two-column .content-area ul {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.two-column .content-area h2 {
  font-size: 20px;
}
.two-column .content-area h3 {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .two-column .content-area h3 {
    font-size: 20px;
  }
}
.two-column .content-area li {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .two-column .content-area li {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.two-column .graphic-area {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .two-column .graphic-area {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .two-column .graphic-area {
    display: none;
  }
}
.two-column .graphic-area img {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
}
@media screen and (min-width: 768px) {
  .two-column .graphic-area img {
    min-height: 400px;
    max-height: 400px;
  }
}
.two-column .clear-both {
  clear: both;
}
.two-column .graphic-area .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.two-column .graphic-area img.foundation-logo {
  vertical-align: middle;
  width: auto;
  height: 300px;
  min-height: 300px;
}
.two-column .content-area span {
  display: inline-block;
  vertical-align: middle;
}
.three-column {
  width: 100%;
  margin: auto;
}
.three-column h3 {
  font-size: 18px;
}
.three-column p,
.three-column li {
  font-size: 15px;
}
.three-column .col-xs-6,
.three-column .col-sm-6 {
  min-height: 170px;
  top: 50%;
}
.three-column .left {
  float: left;
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .three-column .left {
    width: 40%;
    min-height: 400px;
  }
}
.three-column .center {
  float: left;
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .three-column .center {
    width: 20%;
    min-height: 400px;
  }
}
.three-column .right {
  float: left;
  height: 300px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .three-column .right {
    width: 40%;
    min-height: 400px;
  }
}
section#acreditaition {
  border-top: 2px solid #F05F40;
}
section#acreditaition img {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  section#acreditaition #waspa {
    transform: translateY(50%);
  }
  section#acreditaition #empowerdex {
    transform: translateY(-20%);
  }
}
@media screen and (max-width: 767px) {
  section#acreditaition {
    border-top: 2px solid #fff;
  }
  section#acreditaition #mef,
  section#acreditaition #waspa {
    margin-bottom: 25px;
  }
}
/**
Styles for the footer
 */
footer {
  background-color: #f7f7f7;
  min-height: 250px;
}
footer .col-xs-6 {
  min-height: 160px;
}
footer .footer-block {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}
footer #help {
  min-height: 200px;
}
@media screen and (max-width: 340px) {
  footer .col-xs-6,
  footer #help {
    min-height: 225px;
  }
}
@media screen and (min-width: 768px) {
  footer #help {
    border-right: 4px solid #F05F40;
  }
}
footer h2 {
  font-size: 18px;
}
footer a {
  color: #F05F40;
}
footer #social {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer #social a {
  height: 20px;
  padding-right: 15px;
}
footer #social img {
  width: 36px;
  height: 42px;
  margin-top: -20px;
}
footer #copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}
