#mainNav {
  margin-bottom: 0px;
}
#mainNav .nav > li > a,
#mainNav .nav.navbar-right > li > a {
  font-size: 16px;
  color: #222;
  padding: 15px 0;
  margin-left: 15px;
}
#mainNav .nav.navbar-right > li > a.btn {
  padding: 5px;
  top: 50%;
  transform: translateY(30%);
}
#mainNav .nav > li > a:hover,
#mainNav .nav > li > a:focus:hover {
  color: #F05F40;
  background-color: transparent;
}
#mainNav .navbar-nav .open .dropdown-menu > li > a {
  background-color: #f7f7f7;
  color: #222;
}
#mainNav .navbar-nav .open .dropdown-menu > li > a:hover,
#mainNav .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #F05F40;
}
tr.titles th {
  color: white;
  background-color: #F05F40;
}
.content-wrapper {
  margin-top: 50px;
  height: 600px;
}
.content-wrapper {
  margin-top: 185px;
  height: 500px;
}
.content-wrapper .side-panel {
  width: 20%;
  background-color: #F05F40;
  color: white;
  height: inherit;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  float: left;
  display: inline-block;
}
.content-wrapper .side-panel nav {
  margin-top: 20px;
}
.content-wrapper .side-panel nav h2 {
  width: 100%;
  text-align: left;
  background-color: white;
  color: #0f0f0f;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.content-wrapper .side-panel nav ul {
  width: 90%;
  text-align: left;
}
.content-wrapper .side-panel nav ul li {
  display: block;
  text-align: left;
}
.content-wrapper .side-panel nav h2 > div {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}
.content-wrapper .side-panel nav h2 div.left {
  margin-left: 5%;
  display: inline-block;
  width: 10%;
}
.content-wrapper .side-panel nav h2 div.right {
  display: inline-block;
  margin-left: 5%;
}
.content-wrapper .content-panel {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 80%;
  height: 100%;
}
.navbar-default .navbar-header .navbar-brand {
  color: #222;
}
