/*
*Make the whole content in the site to be full width
 */
@import "mixins.less";
html,
body {
  width: @theme-width;

  height: @theme-height;
  @media screen and (min-width: 768px){
    width: @theme-width;
  }
}

body {
  .theme-font-family;
}
@media screen and (min-width: 600px){
  img.brand {
    width: 75px;
    height: auto;
    transition: 0.3s;
  }
}
@media screen and (max-width: 319px){
  img.brand{
    width: 40px;
    height: auto;
    transition: 0.3s;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px){
  img.brand{
    width: 50px;
    height: auto;
    transition: 0.3s;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px){
  img.brand{
    width: 65px;
    height: auto;
    transition: 0.3s;
  }
}
hr {
  max-width: 50px;
  border: 2px solid @theme-primary;
}
hr.light {
  border-color: #fff;
}
hr.wider {
  max-width: 100px;
  border-color: #fff;
}
a {
  color: @theme-primary;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.text-primary {
  color: @theme-primary;
}
.text-white{
  color: @theme-white;
}
.text-dark{
  color: @theme-dark;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  .theme-font-family;
}
h2 {
  font-size: 25px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
li,
span {
  font-size: 14px;
}
span.glyphicon{
  padding-right: 2px;
}

/*NAVBAR*/
.navbar-default {
  border-color: transparent;
  background-color: transparent;
  .theme-font-family;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  height: 200px;
}
.navbar-default .navbar-header .navbar-brand {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-weight: 400;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fff;
}
.navbar-default .nav.navbar-right {
  padding-right: 50px;
}
.navbar-default .nav.navbar-left > li > a {
  font-size: 16px;
}
.navbar-default .nav.navbar-right > li > a {
  font-size: 16px;
  color: #F05F40;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 400;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fff;
  background-color: transparent;
}
/*Navbar white*/
.navbar-default.navbar-white {
  background-color: transparent;
  height: 130px;
}
.navbar-default.navbar-white .navbar-header .navbar-brand {
  font-size: 14px;
  color: #F05F40;
}
.navbar-default.navbar-white .navbar-header .navbar-brand:hover,
.navbar-default.navbar-white .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default.navbar-white .nav > li > a,
.navbar-default.navbar-white .nav > li > a:focus {
  color: #222;
  background-color: transparent;
}
.navbar-default.navbar-white .nav > li > a:hover,
.navbar-default.navbar-white .nav > li > a:focus:hover {
  color: @theme-primary;
  background-color: transparent;
}


.navbar-default .nav.navbar-right > li > a:hover,
.navbar-default .nav.navbar-right > li > a:focus,
.navbar-default.affix-top .navbar-nav .navbar-right a:hover,
.navbar-default.affix-top .navbar-nav .navbar-right a:focus {
  color: @theme-dark;
}
/*Navbar affix (when scrolled down)*/
.navbar-default.affix {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #f5f5f5;
  height: 80px;
}
.navbar-default.affix .navbar-header .navbar-brand {
  font-size: 14px;
  color: @theme-primary;
}
.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default.affix .navbar-header .navbar-toggle .icon-bar {
  background-color: gray;
}
.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: #222;
  background-color: transparent;
  padding-right: 10px;
}
.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  color: @theme-primary;
  background-color: transparent;
}
.navbar-default .nav > li.active > a,
.navbar-default.affix .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  background-color: transparent;
  color: @theme-primary;
  padding-right: 10px;
}
.container-fluid>.navbar-collapse{
  @media screen and (max-width:767px){
      background:#6F6767 ;
  }
  ul,li{
    text-align: right;
  }
  .nav.navbar-right {
    padding-right: 0px;
  }

}

/**
*Styling for the header section
*/

#home-page header {
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;
  min-height: 450px;
  background: url("../img/global-map.png") center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  @media screen and  (max-width: 479px){
    min-height: 600px;
    padding-top: 75px;
  }
  .item
  {
    background-color: rgba(255,255 ,255 , 0.84);
    &.item-1{
      hr {
        margin-bottom: 25px;
        margin-top: 25px;
      }
      .header-text{
        z-index: 10;
        position: absolute;
        top:50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        text-align: center;
        text-shadow: none;
        h1,h4
        {
          color: @theme-primary;
        }
        p {
          width: 60%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;
          font-size: 17px;
          font-weight: 500;
          color: @theme-dark;
        }


      }
      @media screen and (max-width: 319px)
      {
        .header-text{
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          p{
            width: 80%;
          }
          h1
          {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 30px;
          }
        }
      }
      @media screen and (min-width: 320px) and (max-width: 499px)
      {.header-text{
        p{
          width: 75%;
        }
        h1
        {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          font-size: 32px;
        }
      }
      }

      @media screen and (min-width: 501px) and (max-width: 600px)
      {.header-text{
        p{
          width: 75%;
        }
        h1
        {
          font-size: 32px;
        }
      }
      }
      @media screen and (min-width: 601px) and (max-width: 767px)
      {
        .header-text{
          p{
            width: 70%;
          }
          h1
          {
            font-size: 34px;
          }
        }
      }
      @media screen and (min-width: 980px)
      {
        .header-text {
          top: 40%;
        }
      }
    }
  }
}

.service-box{
  .fa{
    font-size: 4em;
  }
  @media screen and (max-width: 479px){
    .fa{
        font-size: 3em;
      }
    h3{
      font-size: 20px;
    }
    p{
      font-size: 15px;
    }
  }
  .material-icons{
    display: inline-block;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: white;

    &.fa{
      font-size: 4em;
    }
  }

  .glyphicon{
    display: inline-block;
    font: normal normal normal 14px/1 "Glyphicons Halflings";

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);

    &.fa{
      font-size: 4em;
    }
  }
  @media screen and (max-width: 479px){
    .material-icons,
    .glyphicon{
      &.fa{
        font-size: 3em;
      }
    }
  }
}
#grow-business{

  @media screen and (max-width:799px)  { /* smartphones, Android phones, landscape iPhone */
    i{
      font-size: 4em;
      text-align: left;
      color: black;
    }
    h3{
      font-size: 26px;
    }
    p{
        margin-left: 0;
        font-size: 24px;
        display: inline-block;
        top: 50%;
        transform: translateY(-80%);
    }
    ul{
      margin-left: 30px;
      display:inline-block;
      color: white;
      li{
          font-size: 18px;
      }
    }
  }
  @media screen and (min-width: 800px){
    i{
      font-size: 6em;
      color: black;
    }
    h3{
      display: inline-block;
      font-size: 28px;
      top: 50%; margin-left:15px;
      font-weight: bold;
      transform:translateY(-25%);
      color: black;
    }
    p{
      text-align: left;
      margin-left:83px;
      font-size: 28px;
      display: inline-block;
      top: 50%;
      transform: translateY(-80%);
    }
    ul{
      display:inline-block;
      color: white;
      margin-left: 60px;
      font-style: italic;
      li{
        font-size: 22px;
      }
    }
  }
}
section#about,
section#contact{
  padding: @theme-paddingVertSM @theme-paddingHorSM;
  @media screen and (min-width: 768px){
    padding: @theme-paddingVertLG @theme-paddingHorLG;
    min-height: 350px;
    vertical-align: middle;
  }
}
/*About*/
section#about{
  color:white;
  min-height: 250px;
  padding-top: 25px;
  padding-bottom: 25px;
  #about-text{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  ul{
    li{font-size: 16px}
    span{
      font-weight:bold;
    }
  }
}
#sign-up-button {
  position: fixed;
  z-index: 1;
  left: 45%;
  bottom: 0;
  width: 10%;
  opacity: 0.9;
  a {
    background: @theme-darkGrey;
    color: white;
    border: 1px solid @theme-darkGrey;
    font-size: 16px;
    &:hover{
      background:  @theme-darkGrey;
      color: white;
      font-size: 18px;
    }
  }

}
@media screen and (max-width: 319px){
  #sign-up-button {
    left: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px){
  #sign-up-button {
    left: 35%;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px){
  #sign-up-button {
    left: 45%;
  }
}
.btn-default,.btn-primary{
  background:  @theme-primary;
  color: @theme-white;
  border: 1px solid @theme-primary;
}
.btn-default:hover,.btn-primary:hover{
  background:  @theme-primary;
  color: @theme-white;
}
.btn-default:active,.btn-primary:active{
  background:  @theme-grey;
  color: @theme-primary;
  border: 1px solid @theme-grey;
}
.btn-light{
  border: 1px solid @theme-primary;
  background-color: @theme-grey;
}
.btn-light:hover{
  border: 1px solid @theme-primary;
  background-color: @theme-grey;
}

.bg-partners{
  background-color: @theme-primary;
  padding: 10px 0;
}
.bg-dark {
  color: @theme-white;
  background-color: @theme-dark;
}
.bg-primary {
  background-color: @theme-primary;
  color: @theme-white;
}
.bg-light{
background-color: @theme-grey;
}
.bg-white{
  background-color: @theme-white;
  color: @theme-dark;
}
.bg-darkGrey{
  background-color: @theme-darkGrey;
}
.btn-block{
  width: 150px;
  margin-top: 0;
}
.clear-both{
  clear: both;
}

#the-platform .two-column .content-area{
  @media screen and (max-width: 767px){
    color: @theme-white;
    background: @theme-blackRBGA url("../img/mock-new.png") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
#benefits-features .two-column .content-area{
  @media screen and (max-width: 767px){
    color: @theme-white;
    background: @theme-blackRBGA url("../img/case_study_111.jpg") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
#clientele .two-column .content-area{
  @media screen and (max-width: 767px){
    color: @theme-white;
    background: @theme-blackRBGA url("../img/meeting--people.png") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
#support-simplicity .two-column .content-area{
  color: @theme-white;
  @media screen and (max-width: 767px){
    background: @theme-blackRBGA url("../img/interaction.jpg") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
section#foundation {
  a.btn{
    color: @theme-dark;
  }
  .content-area{
    color: @theme-white;
    @media screen and (max-width: 767px){
      background: @theme-blackRBGA url("../img/iFoundation.png") no-repeat center center;
      background-size: cover;
      background-blend-mode: overlay;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
  }
}
.two-column {
  width:100%;
  margin:auto;

  .left {
    float:left;
    width: 100%;
    height: 300px;
    @media screen and (min-width: 768px){
      width: 50%;
      height: 400px;
      margin:0;
    }
  }

  .right {
    float:left;
    height: 300px;
    width: 100%;
    @media screen and (min-width: 768px){
      width: 50%;
      height: 400px;
      margin:0;

    }
  }
  .content-area{
    display: inline-block;
    vertical-align: top;
    .content {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      h2{
        margin: 0;
        padding: 0;
        position: relative;
      }
    }
    @media screen and (max-width: 576px){
        height: 350px;
    }
    hr{
      @media screen and (max-width: 767px){
        border: 2px solid @theme-primary;
      }
    }
    @media screen and (min-width: 768px){
      width: 50%;
      padding: @theme-paddingVertLG @theme-paddingHorLG;
    }
    ul{
    @media screen and (min-width: 768px){
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    h2{
      font-size: 20px;
      @media screen and (min-width: 768px) {

      }
    }
    h3{
      font-size: 18px;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }
    li{
      font-size: 16px;
      @media screen and (min-width: 768px) {
      font-size: 18px;
      margin-bottom: 5px;
      }
    }
  }
  .graphic-area{
    text-align: center;
    @media screen and (min-width: 768px){
      width: 50%;
    }
    @media screen and (max-width: 767px){
      display: none;
    }
    img{
      width: 100%;
      min-height: 300px;
      max-height: 300px;
      @media screen and (min-width: 768px){
        min-height: 400px;
        max-height: 400px;

      }
    }
  }

  .clear-both {
    clear:both;
  }
}
.two-column .graphic-area {
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img.foundation-logo {
  vertical-align: middle;
  width: auto;
  height: 300px;
  min-height: 300px;
  }
}
.two-column .content-area{
  span{
    display: inline-block;
    vertical-align: middle;
  }
}
.three-column {
  width: 100%;
  margin: auto;
  h3{
    font-size: 18px;
  }
  p,li{
    font-size: 15px;
  }
  .col-xs-6,.col-sm-6{
    min-height: 170px;
    top:50%;
    //-webkit-transform: translateY(-50%);
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);

  }
  .left {
    float: left;
    width: 100%;
    height: 300px;

    @media screen and (min-width: 768px) {
      width: 40%;
      min-height: 400px;
     // background-color: yellow;
    }
  }
  .center{
    float: left;
    width: 100%;
    height: 300px;
    @media screen and (min-width: 768px) {
      width: 20%;
      min-height: 400px;
     // background-color: #31b0d5;
    }
  }

  .right {
    float: left;
    height: 300px;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 40%;
      min-height: 400px;
      //background-color: green;
    }
  }
}
section#acreditaition{
  border-top: 2px solid @theme-primary;
  img{
    margin-right: auto;margin-left: auto
  }
  @media screen and (min-width: 768px){
    #mef{

    }
    #waspa{
      transform: translateY(50%);
    }
    #empowerdex{
      transform: translateY(-20%);
    }
  }
}
@media screen and (max-width: 767px){
  section#acreditaition{
    border-top: 2px solid @theme-white;
    #mef, #waspa{
      margin-bottom: 25px;
    }
  }
}
/**
Styles for the footer
 */
footer {
  background-color: @theme-grey;
  min-height: 250px;
  .col-xs-6{
    min-height: 160px;
  }

  .footer-block{
      width: 66%;
      margin-left: auto;
      margin-right: auto;
  }
  #help{
    min-height: 200px;
  }
  @media screen and (max-width: 340px){
    .col-xs-6,#help{
      min-height: 225px;
    }
  }

  @media screen and (min-width: 768px){
    #help{
      border-right: 4px solid @theme-primary;

    }
  }

  h2{
    font-size: 18px;
  }
  a{
    color:#F05F40;
  }
  #social{
    padding-top: 20px;
    padding-bottom: 20px;
    a{
      height: 20px;
      padding-right: 15px;
    }
    img{
      width: 36px;
      height:42px;
      margin-top: -20px;
    }
  }
  #copyright{
    padding-top: 20px;
    padding-bottom: 20px;

  }

}