// Variables

@theme-primary: #F05F40;
@theme-white:#fff;
@theme-reddish:#eb3812;
@theme-dark: #222;
@theme-grey:#f7f7f7;
@theme-darkGrey:#9e9e9e;

@theme-Fonts:'Lato','Open Sans','Helvetica Neue','Arial','sans-serif';
@theme-font-size:16px;


@theme-width:100%;
@theme-height:100%;

@theme-blackRBGA:rgba(0,0,0,0.6);

@theme-paddingVertLG:25px;
@theme-paddingHorLG:15px;
@theme-paddingVertSM:15px;
@theme-paddingHorSM:10%;