@import "mixins.less";
body{
  background-color: @theme-grey;
}
#mainNav {
  margin-bottom: 0px;
  .nav.navbar-right > li > a {
    font-size: 16px;
    color: #222;
    padding: 15px 0;
    margin-left: 15px;
  }
  .nav.navbar-right > li > a.btn{
    padding: 5px;
    top:50%;
    transform: translateY(30%);
  }
   .nav > li > a:hover,
   .nav > li > a:focus:hover {
    color: #F05F40;
    background-color: transparent;
  }
  #navbar-collapse-1{
    position: absolute;
    left: 0;
    top: 150px;
    background-color: @theme-primary;
    width: 100%;

    .nav > li.active > a,
    .nav > li > a:focus,
    .nav > li > a:hover{
        background-color: @theme-white;
        color: @theme-primary;
    }
  }
   .navbar-nav .open .dropdown-menu>li>a
   {
      background-color: @theme-grey;
      color: @theme-dark;
     &:hover,
     &:focus{
       color: @theme-primary;
     }
   }
  img.brand {
    width: 65px;
    height: auto;
    transition: 0.3s;
  }
  #support{
    margin-top: 25px !important;
    margin-left: 25%;
  }
}
tr.titles th {
  color: white;
  background-color: #F05F40;
}
.content-wrapper {
  margin-top: 50px;
  height: 600px;
}
.content-wrapper {
  margin-top: 185px;
  height: 500px;
}
.content-wrapper .side-panel {
  width: 20%;
  background-color: #F05F40;
  color: white;
  height: inherit;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  float: left;
  display: inline-block;
}
.content-wrapper .side-panel nav {
  margin-top: 20px;
}
.content-wrapper .side-panel nav h2 {
  width: 100%;
  text-align: left;
  background-color: white;
  color: #0f0f0f;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.content-wrapper .side-panel nav ul {
  width: 90%;
  text-align: left;
}
.content-wrapper .side-panel nav ul li {
  display: block;
  text-align: left;
}
.content-wrapper .side-panel nav h2 > div {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}
.content-wrapper .side-panel nav h2 div.left {
  margin-left: 5%;
  display: inline-block;
  width: 10%;
}
.content-wrapper .side-panel nav h2 div.right {
  display: inline-block;
  margin-left: 5%;
}
.content-wrapper .content-panel {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 80%;
  height: 100%;
}
.navbar-default .navbar-header .navbar-brand {
  color: #222;
}
